body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    background: #070915;
}

.header {
    background: #0e132b;
    position: sticky;
    opacity: 0.9;
    top: 0;
    z-index: 1;
    .menu {
        height: 67px;
        margin: 0 100px;
        display: flex;
        align-items: center;
        .item_menu {
            &:first-of-type {
                margin-left: 0;
            }
            &:nth-child(2) {
                margin-left: 30px;
            }
            margin-left: 50px;
            .item {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #b7b7b7;
                text-decoration: none;
                img {
                    margin-right: 5px;
                }
            }
            .active_menu {
                color: #ffffff;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    height: 3px;
                    width: 100%;
                    bottom: -10px;
                    background: #c4281c;
                }
            }
        }
    }

    .header_tag {
        padding: 15px 0;
        padding-left: 235px;
        display: flex;
        align-items: center;
        border-top: 1px solid #3e3739;
        .item_tag {
            color: #b7b7b7;
            font-size: 15px;
            &::after {
                content: "";
                border-right: 3px solid #b7b7b7;
                margin: 15px;
            }
            &:last-of-type {
                &::after {
                    display: none;
                }
            }
        }
    }
}

.banner {
    // background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgb(17, 19, 25) 100%);
}

.trending {
    padding: 0 100px;
    min-height: 400px;
    max-height: 400px;
    .title {
        color: #ffffff;
        font-size: 20px;
        display: inline-block;
        position: relative;
        text-transform: capitalize;
        margin-bottom: 35px;
        &::after {
            content: "";
            position: absolute;
            height: 3px;
            width: 70%;
            background: #ffffff;
            bottom: -10px;
            left: 0;
        }
    }
    .content_trending {
        .list_trending {
            div {
                .img_trending {
                    width: 100%;
                }
            }
        }
        .item_trending {
            display: flex;
            color: #ffffff;
            align-items: center;
            padding: 15px 20px;
            position: relative;
            background: #14161c;
            .show_trending {
                display: flex;
                position: absolute;
                top: -45px;
                right: 10px;
                transition: 0.5s;
                transform: translateY(50px);
                display: none;
            }
            .info {
                margin-left: 15px;
            }
        }
        .slick-initialized {
            .slick-slide {
                display: block;
                margin: 0 15px;
            }
        }
    }
}

.main {
    color: white;
    .playing {
        .title-playing {
            .bottom {
                border-bottom: 0.2em solid white;
            }
        }
        .block_live_streaming {
            .score,
            .time,
            .tag {
                display: none;
            }
            // &:hover{
            //     .spot-title{
            //         display: none;
            //     }
            //     background-color: #343a40;
            //     transform: scale(1.2);
            //     border-radius: 4px;
            //     .bottom{
            //         padding-left: .3em;

            //     }
            //     .score,.time,.tag{
            //         margin-left: .3em;
            //         font-size: 10px;
            //         display: block;
            //     }
            //     .tag{
            //         background: gray;
            //         display: inline-block;
            //         line-height: .5;
            //         font-size: 11px;
            //         font-weight: 500;
            //         border-radius: .2em;
            //         padding: 0.3em 0.5em;
            //     }
            //     .top{
            //         position: relative;
            //         .spot-title{
            //             color: white;
            //             position: absolute;
            //             background: #C01F1F;
            //             top: 0;
            //             line-height: 0;
            //             font-size: 10px;
            //             font-weight: 500;
            //             padding: .3em .5em;
            //             margin-top: .2em;
            //             left: 10px;
            //             border-radius: 2px;

            //         }
            //     }
            // }
            .top {
                position: relative;
                .spot-title {
                    color: white;
                    position: absolute;
                    background: #c01f1f;
                    top: 0;
                    line-height: 0;
                    font-size: 10px;
                    font-weight: 400;
                    padding: 0.2em 0.2em;
                    margin-top: 0.2em;
                    left: 10px;
                    border-radius: 2px;
                }
            }
        }
    }
}

.text-middle {
    display: inline-block;
    vertical-align: middle;
}
